<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

    <!-- 콘솔 로거 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 로그 메시지 출력 포맷 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일 로거 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>myapp.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- 특정 패키지 또는 클래스의 로그 레벨 설정 -->
    <logger name="org.springframework.web" level="debug"/>
    <logger name="com.myapp" level="info"/>

</configuration>